# --- Gradle (pliki budowania) ---
.gradle/
build/
out/

# --- IntelliJ IDEA (ustawienia lokalne IDE) ---
.idea/
*.iml
*.iws
*.ipr

# --- Java (pliki tymczasowe i logi) ---
*.class
*.log
*.ctxt
.mtj.tmp/

# --- Cucumber / Raporty testowe ---
target/
test-output/
cucumber-report/

# --- Inne systemowe ---
.DS_Store
Thumbs.db